.fourth {
    border-color: #f1c40f;
    border-radius: 10px;
    color: #181616;
    height: 3rem;
    margin: 2rem;
    background-image: -webkit-linear-gradient(15deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(1deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.fourth:hover {
    background-position: 0;
    background-color: #3e7aea;
    cursor: pointer;
}

.table__header {
    display: grid;
    grid-template-columns: 100px repeat(3, 3fr);
    background-color: #828078;
}

.table__header:hover {
    display: grid;
    grid-template-columns: 100px repeat(3, 3fr);
    background-color: #828078;
}

.table {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    text-align: center;
}


.table__block {
    color: #e8d8d8;
    transition: all 1s;
    padding: 1px;
}

.table__items__list {
    position: absolute;
    z-index: 100;
    /* top: -40px; */
    left: 365px;
    background-color: #d92626;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    transition: 0.3s;
    opacity: .5;
    transform: scaleY(0);
    width: 150px;
}

.table__items__list > div:hover {
   background-color: #5a5a5d;

}

.table__items__list::before {
    z-index: 100;
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    height: 50px;
    width: 200px;
}



.table__name{
    font-size: 20px;
    color: #caee4d;
    text-align: center;
} 

.table__inside:hover > .table__items__list{
    transform: scaleY(1);
    opacity: 1;
    cursor: pointer;
    color: #f5f7fa;
    background-color: #828078;
    text-align: center;
}
.table__inside:hover{
    cursor: pointer;
    background-color: #41413d;
}

input {
    display: flex;
    margin: 18px;
}

